.listitems {
  margin: 20px;
  margin-bottom: 40px;
}

.listitems h5 {
  font-weight: lighter;
  text-transform: uppercase;
}

.listitems .listitems-content > div {
  margin: 10px 0px;
}

.listitems .listitems-bold {
  font-weight: bolder;
}
